<div class="section landing group" id="howitworks">
    <div class="container">
        <h3 class="works-title" align="center">How It Works</h3>
        <div class="col span_1_of_3 featureCard">
            <div class="landingFeaturePic">
                <img src="/images/report.png" alt="Report">
            </div>
            <p class="cardText"><b>Report</b></p>
            <p class="cardText">Report your case of corruption with details of what happened anonymously.</p>
        </div>
        <div class="col span_1_of_3 featureCard">
            <div class="landingFeaturePic">
                <img src="/images/facebook.png" alt="Share">
            </div>
            <p class="cardText "><b>Share</b></p>
            <p class="cardText">Share on your social networks the cases of corruption to drive activism.</p>
        </div>
        <div class="col span_1_of_3 featureCard">
            <div class="landingFeaturePic">
                <img src="/images/meet.png" alt="Meet">
            </div>
            <p class="cardText"><b>Meet</b></p>
            <p class="cardText">Meet others with same passion as you in wiping out corruption.</p>
        </div>
                
            
            
<div class="section testimonials offWhiteSection" id="testimonials">
    <div class="container">
        <h3 class="testimonials">World Leaders Want To Fight Corruption</h3>
        <p></p>
        <p></p>
        <div class="card-box testimonials">
            
            
            <div class="col span_1_of_3 testimonial-card" style="min-height: 264px;">
                <div class="testimonial-person-block" align="center" >
                    <a class="face-wrap" href="https://en.wikipedia.org/wiki/Barack_Obama" target="_blank">
                        <img class="img-responsive img-thumbnail img-circle" src="/images/obama_head.png">
                        
                    </a>
                    <div class="testimonial-name-block">
                        <a class="testimonial-person-name" href="https://en.wikipedia.org/wiki/Barack_Obama" target="_blank">
                    Barack Obama
                </a>
                        <label class="testimonial-offer-label" align="center">President</label>
                        <div class="offer-block" id="filipe">
                            <label class="offer-company">United States of America</label>
                        </div>
                    </div>
                </div>
                <img src="/images/green-quote.png" class="testimonial-green-quote">
                <div class="testimony-text">Indonesia should lead on the world stage and by example in embracing transparency and accountability.</span>
                </div>
            </div>
            
            <div class="col span_1_of_3 testimonial-card" style="min-height: 264px;">
                <div class="testimonial-person-block" align="center" >
                    <a class="face-wrap" href="https://en.wikipedia.org/wiki/Susilo_Bambang_Yudhoyono" target="_blank">
                        <img class="img-responsive img-thumbnail img-circle" src="/images/susilo_head.png">
                        
                    </a>
                    <div class="testimonial-name-block">
                        <a class="testimonial-person-name" href="https://en.wikipedia.org/wiki/Susilo_Bambang_Yudhoyono" target="_blank">
                    Susilo Bambang Yudhoyono
                </a>
                        <label class="testimonial-offer-label" align="center">Ex-President</label>
                        <div class="offer-block" id="filipe">
                            <label class="offer-company">Indonesia</label>
                        </div>
                    </div>
                </div>
                <img src="/images/green-quote.png" class="testimonial-green-quote">
                <div class="testimony-text">The drum of war on corruption should not dissipate. Corruption should be completely eradicated.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
            
            <div class="col span_1_of_3 testimonial-card" style="min-height: 264px;">
                <div class="testimonial-person-block" align="center" >
                    <a class="face-wrap" href="https://en.wikipedia.org/wiki/Ban_Ki-moon" target="_blank">
                        <img class="img-responsive img-thumbnail img-circle" src="/images/bai_head.png">
                        
                    </a>
                    <div class="testimonial-name-block">
                        <a class="testimonial-person-name" href="https://en.wikipedia.org/wiki/Ban_Ki-moon" target="_blank">
                    Ban Ki-moon
                </a>
                        <label class="testimonial-offer-label" align="center">Secretary-General</label>
                        <div class="offer-block" id="filipe">
                            <label class="offer-company">United Nations</label>
                        </div>
                    </div>
                </div>
                <img src="/images/green-quote.png" class="testimonial-green-quote">
                <div class="testimony-text">It is clear that corruption is a challenge that not one segment of society can solve alone.  We have to do it together.</span>
                </div>
            </div>        

            </div>


            </div>
        </div>
    </div>
</div>