<div class="container">
    
    <h1 class="text-center">Frequently Asked Questions</h1>
    
    <div>
        <h3>What is corruption?</h3>
        
        <p>Corruption is the misuse of public power (by elected politician or appointed civil servant) for private gain.</p>
        <p>Corruption is an improbity or decay in the decision-making process in which a decision-maker consents to deviate or demands deviation from the criterion which should rule his or her decision-making, in exchange for a reward or for the promise or expectation of a reward, while these motives influencing his or her decision-making cannot be part of the justification of the decision.</p>
    </div>
    <hr>
    
    <div>
        <h3>What can we do?</h3>
        <p>Rise up, stand strong and report any incidents of corruption that you may witness or experienced yourself.
        By doing so, we create real time visibility on this epicdemic, and create actionable metrics to change policies, laws and bring about 
        long term societal change in Indonesia.
        </p>
    </div>
    <hr>
    
    <div>
        <h3>Is this platform safe?</h3>
        
        <p> Right now all posts are encrypted and completely deidentified with the poster. 
        However, we are continuously improving our platform with better security solutions to provide to a solution for a direct targeted attack.  </p>
    </div>
    <hr>
    
</div>